.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
}
.action {
  border-top: solid 1px var(--figma-color-border);
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.action button {
  border: none;
  width: 50%;
  padding: 14px;
  cursor: pointer;
  background-color: var(--figma-color-bg);
}
.action button:hover {
  filter: brightness(0.9);
}
.action .ok {
  background-color: var(--figma-color-bg-brand);
  color: var(--figma-color-text-on-brand);
}
