.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}
.action {
  border-top: solid 1px #ccc;
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.action button {
  border: none;
  width: 50%;
  padding: 14px;
  cursor: pointer;
  background-color: white;
}
.action button:hover {
  filter: brightness(0.9);
}
.action .ok {
  background-color: #0b68d6;
  color: white;
}